# Dependency directories
node_modules/
jspm_packages/
web_modules/
.pnp/
.pnp.js

# Python environment & caches
venv/
ENV/
env/
.env
__pycache__/
*.pyc

# Build outputs
dist/
build/

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db